<% provide(:title, "About") %>
<!DOCTYPE html>
<html>

<head>
  <title> <%= yield(:title)%></title>
</head>
<body>
  <h1>About</h1>
  <p>A propos de <a href="https://www.donacom.com"> Donacom </a></p>
</body>

</html>
