<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
  <title> <%= yield(:title)%></title>
</head>
<body>
    <h1>Help</h1>
  <p>Help <a href="https://www.donacom.com"> Donacom </a></p>
</body>
</html>
