<footer class = "footer">
    <nav>
      <!-- <%=link_to image_tag("logo_donacom.webp", alt:"logo"),root_url %> -->
        <%=link_to "Don@com",root_url,id: "logofooter" %>
      <ul class="nav navbar-nav navbar-right">
        <li> <%=link_to "Nous contacter","https://www.donacom.com/contact-1" %> </li>
      </ul>
    </nav>
</footer>
